<br/>
<br/>

<h3>{{titulo}}</h3>

<table>
  <thead>
  <tr>
      <th>Código</th>
      <th>Nome</th>
      <th>Descrição</th>
      <th>Quantidade</th>
      <th>Valor</th>
      <th>Editar</th>
      <th>Excluir</th>
  </tr>
  </thead>

  <tbody>
    <tr *ngFor="let produto of produtos; let i = index;">
      <td>{{ produto.idproduto }}</td>
      <td>{{ produto.nome }}</td>
      <td>{{ produto.descricao }}</td>
      <td>{{ produto.quantidade }}</td>
      <td>{{ produto.valor }}</td>
      <!-- <td><a (click)="editar(produto.idproduto);">Editar</a></td> -->
      <!-- <a class="badge badge-warning" routerLink="/produtos/{{ produto.idproduto }}">
        Editar
      </a> -->

      <td>
        <button routerLink="/produtos/{{ produto.idproduto }}" class="btn btn-secondary" >Editar</button>
      </td>

      <td>
        <button (click)="excluir(produto.idproduto, i);" class="btn btn-danger" >Excluir</button>
      </td>

      <!-- <td><a (click)="excluir(produto.idproduto, i);" class="nav-link">Excluir</a></td> -->
    </tr>
    <tr>
        <td colspan="7" style="text-align: right;">Total de Registros: {{ produtos.length }}</td>
    </tr>
  </tbody>

</table>
