<!-- <div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Loja INDT</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="produtos" class="nav-link">Produtos</a>
      </li>
      <li class="nav-item">
        <a routerLink="produto" class="nav-link">Adicionar Produtos</a>
      </li>
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div> -->

<ul>
  <li><a routerLink="produtos">Home</a></li>
  <li><a routerLink="produto">Cadastro de Produto</a></li>
</ul>

<div class="container mt-3">
  <router-outlet></router-outlet>
</div>
